<div th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="text-muted py-5 border-top bg-light">
        <div class="container">
            <p class="float-end mb-1">Години роботи: <br>з 6:00 до 23:00</p>
            <p class="mb-1">Замовити клінінгові послуги: <br>(096) 283-15-13<br>(066) 576-12-21<br>(095) 456-98-70
            <br>Ми працюємо у Києві, Харкові та Дніпрі.
            <br><br>
            ALL RIGHTS RESERVED 2021.
            </p>
        </div>
    </div>
</div>