<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom bg-light">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        </a>
        <nav class="d-inline-flex mt-2 mt-md-3 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none" href="/">Головна</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/service_list_unreg">Послуги</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/about">Про нас</a>
        </nav>
    </div>
</div>